/*

#2C2E43
#595260
#B2B1B9
#FFD523
rgb(44, 46, 67)
rgb(89, 82, 96)
rgb(178, 177, 185)
rgb(255, 213, 35)
BlackGreyYellowSpaceNight
/*/


body {
  background-color:rgb(78, 159, 61);
  margin:0;
  padding:0;
}

.icon{
  width:160px;
  height:100px;
  text-align:center;
}

.texto{
	font-size:28px;
	text-align: center;
	color:#ffff;
}
.loginColor{
  margin: auto;
  width:80%;
  height:100%;
  padding: 5%;
  background-color: rgb(25, 26, 25);
}
.input{
	width: 200px;
	padding: 8px 20px;
	margin: 1px;
	box-sizing: border-box;
	border: none;
  border-radius: 8px;
	transition: width 0.2s ease-in-out;
	background-color:#ffff;
	font-size:18px;
	text-align: center;

}

.titulo{
  font-size:12px;
  font-weight: bold;

}
.texto{
  text-align: center;
}
.checkbox{
  color: #ffff;
  padding: 1px 3px;
  font-size: 14px;
}
.btn3{
  color: #ffff;
  padding: 1px 3px;
  font-size: 14px;
}
.btn2{
  width: 200px;
	padding: 8px 20px;
  text-align: center;
  background-color:#d62828;
  border: none;
  color: #ffff;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-size:25px;
  font-weight: bold;
  display: block;
  text-decoration: none;
}
